.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 15px; /* Spacing between photos */
  padding: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
  border-color: #777;
}

.desc {
  padding: 10px;
  text-align: center;
}
